<!DOCTYPE html>
<html>
<head>
  <title>Newreviewly</title>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<a href="https://twitter.com/tinlizzieb" target="_blank">twitter</a>
	<a href="https://www.linkedin.com/in/lizziebourque" target="_blank">linkedin</a>
	<a href="https://github.com/tinlizzieb" target="_blank">github</a>

<%= yield %>

</body>
</html>
